.estatistica{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    display: flex
;
}

.valor{
    display: flex;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
}

.texto{
    color: #ddd;
    font: 1.4rem;
    font-weight: 200;
}
